@font-face {
  font-family: "work-sans";
  src: url(../fonts/work-sans/static/WorkSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "work-sans-bold";
  src: url(../fonts/work-sans/static/WorkSans-Bold.ttf);
  font-style: bold;
  font-weight: 700;
}
body {
  font-family: "work-sans";
}

h1, h2, h3, h4, h5 {
  font-family: "work-sans-bold";
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background: #0071bc;
  border-color: #0071bc;
  transition: all 0.5s;
  max-width: 200px;
}

.btn:hover {
  background: linear-gradient(90deg, rgb(0, 113, 188) 30%, rgb(144, 215, 255) 100%);
  transform: scale(1.05);
}

.btn:active {
  border-color: #003459;
  background: #003459 !important;
  transform: scale(0.95) rotateZ(1.7deg);
}

.btn-secondary {
  background-color: white;
  border: 0 !important;
  border-radius: 0 !important;
}
.btn-secondary:hover {
  background-color: white;
  background: white;
}
.btn-secondary:active {
  background: white !important;
  background-color: white !important;
}

#header {
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
}

nav {
  width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
  display: inline-block !important;
}

.header-row-top {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 !important;
}

.navbar-toggler-icon {
  background-image: url(../Media/images/tools/navbar-icon.png);
}

.navbar-toggler {
  border-radius: 0;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.img-logo-block, .search-bar, .log-in-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 20em;
}

.search-bar .bar {
  height: 2em;
  border-radius: 15px;
}

.search-bar .button-bar {
  display: none;
}

.header-links {
  padding: 0px 20px !important;
  text-decoration: none;
  box-shadow: none;
  border-right: 1px solid black;
  color: black;
}

.header-links:last-child {
  border-right: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  background-color: black;
  color: black;
  padding: 0.8em 0em !important;
}

.menu-links {
  padding: 0px 20px !important;
  text-decoration: none;
  box-shadow: none;
  border-right: 1px solid white;
}

.menu-links:last-child {
  border-right: 0;
}

.header-links a, .menu-links a {
  padding: 0;
}

.search-icon {
  width: 24px;
}

.nav-link {
  color: white !important;
}

.navbar {
  padding: 0;
  background-color: white !important;
}

@media (max-width: 1200px) {
  .menu {
    flex-direction: column;
    align-items: start;
    background-color: white;
  }
  .header-links {
    border-right: 0;
  }
  .menu-links {
    border-right: 0;
  }
  .header-links a, .menu-links a {
    padding: 0.2em 0em;
  }
  .search-bar .search-xl input {
    display: none;
  }
  .search-bar, .button-bar {
    display: flex !important;
  }
  .nav-link {
    color: black !important;
  }
  .ultima-pagina {
    margin-bottom: 1em;
  }
  .mobile-hidden {
    display: none;
  }
}
@media (max-width: 768px) {
  #header .img-logo {
    width: 14em;
  }
}
@media (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
  .menu {
    justify-content: center !important;
  }
  .ultima-pagina {
    border-right: 0;
  }
}
main {
  min-height: 550px;
  width: 100%;
  color: black;
  background-color: white;
}
main .title {
  background-color: white;
  padding: 1.5em;
  font-size: 120%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 2em;
  padding: 2em 0em;
  background-color: white;
  border-top: 1px solid black;
  width: 100%;
  height: 15em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". texto . social . about .";
}
footer .tools {
  width: 20px;
}
footer .img-logo {
  width: 20em;
}
footer .footer-links {
  text-decoration: none;
  box-shadow: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
footer .footer-links img {
  margin-right: 5px;
}
footer h4 {
  padding: 0;
}
footer .img-logo {
  width: 20em;
  margin-bottom: 2em;
}
footer .footer-about {
  grid-area: about;
}
footer .footer-social {
  grid-area: social;
}
footer .footer-social .footer-about {
  display: flex;
  flex-direction: column;
}
footer .footer-social ul {
  margin-top: 2em;
  list-style-type: none;
}
footer .footer-about ul {
  margin: 2em 0em;
  list-style-type: none;
}
footer .footer-text {
  max-width: 100%;
  grid-area: texto;
  color: black;
}
footer .footer-text p {
  padding: 2em 0em;
}

@media (max-width: 992px) {
  footer {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
    grid-template-areas: ". texto ." ". social ." ". about .";
  }
  .footer-social, .footer-about {
    padding-top: 1em;
  }
  h4 {
    text-align: center;
  }
  .footer-text {
    text-align: center;
  }
  .footer-text p {
    padding: 0em 0em !important;
  }
}
@media (max-width: 768px) {
  footer .img-logo {
    width: 14em;
  }
}
/*SECCION IMAGEN PRINCIPAL HOME*/
.flyer-home {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*SECCION IMAGEN PRINCIPAL HOME*/
.home-title {
  display: none;
}

.see-more-button {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

/*SECCION NEWSLETTER*/
#newsletter .card {
  box-shadow: 12px 10px 31px rgba(0, 0, 0, 0.15);
}

#newsletter input {
  width: 80%;
  display: inline;
}

#newsletter label {
  display: block;
}

#newsletter button {
  display: inline;
}

@media (max-width: 768px) {
  #newsletter input {
    width: 100%;
  }
  #newsletter button {
    display: block;
    margin-top: 0.5em;
  }
}
#eventos .card {
  padding: 0;
  margin: 0.4em;
}
#eventos .card p {
  display: inline;
}
#eventos .ticket-flyer {
  width: 100%;
}
#eventos .location .date {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
#eventos h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 130%;
}

@media (max-width: 1400px) {
  #eventos .card {
    width: 18rem !important;
  }
}
#noticias #popularPosts .card-popular-posts {
  border: 1px solid black;
  box-shadow: 12px 10px 31px rgba(0, 0, 0, 0.15);
}
#noticias h3 {
  font-size: 150%;
  padding-bottom: 1em;
  text-align: center;
}
#noticias h5 {
  font-size: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#noticias .card-img-overlay {
  background: linear-gradient(to top, rgb(31, 30, 30), transparent);
  top: auto;
}
#noticias .ov-hidden {
  overflow: hidden;
}
#noticias .img-animate {
  transition: all 0.5s ease;
}
#noticias .img-animate:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
#noticias .card-text {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  #noticias .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
}
@media (max-width: 768px) {
  #noticias p {
    display: none;
  }
  #popularPosts .desplegar-cartas {
    display: none;
  }
}
@media (min-width: 768px) {
  #popularPosts .desplegar-carrusel {
    display: none;
  }
  @supports (object-fit: cover) {
    .img-fluid {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
#contactoMain span {
  color: red;
}
#contactoMain .card {
  border-color: black;
}
#contactoMain .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 15px;
}
#contactoMain .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#aboutUs .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#aboutUs .description p {
  font-size: 100%;
  margin: 0.8em;
}
#aboutUs .description h4 {
  font-size: 160%;
  margin: 0em 1em;
  margin-top: 1em;
}
@media (max-width: 576px) {
  #aboutUs .description h4 {
    margin: 0em 0.4em;
    margin-top: 0.5em;
  }
}

#logInMain span {
  color: red;
}
#logInMain .card {
  border-color: black;
  box-shadow: 12px 10px 31px rgba(0, 0, 0, 0.15);
}
#logInMain .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 113, 188, 0.25) !important;
}

#signInMain span {
  color: red;
}
#signInMain .card {
  border-color: black;
  box-shadow: 12px 10px 31px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=app.css.map */
