#eventos{
    .card{
        padding: 0;
        margin: 0.4em;
        p{
            display: inline;
        }
    }
    
    .ticket-flyer{
        width: 100%;
    }
    
    .location .date{
        @include flexbox(column, left, center);
    }
    
    h4{
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 130%;
    }
    
    
}

@include mediaquery(1400px){
    #eventos .card{
        width: 18rem !important;
    }
}