#logInMain{
    span{
        color: red;
    }
    
    .card{
        border-color: $color-borde-primario;
        box-shadow: 12px 10px 31px rgba(0, 0, 0, 0.15);
    }
    
    .form-control:focus{
        box-shadow: 0 0 0 0.25rem  rgba(0,113,188,.25) !important;
    }
}