#popularPosts .card-popular-posts{
    border: 1px solid $color-borde-primario;
}

h3{
    font-size: 150%;
    padding-bottom: 1em;
    text-align: center;
}

h5{
    font-size: 105%;
    padding-top: .5em;
    padding-bottom: .5em;
}

.card-img-overlay{
    top: auto;
    background: linear-gradient(to top, rgb(31, 30, 30), transparent);
}

@media(max-width: 1400px){
    #noticias p{
        display: none;
    }
    #noticias .card-body{
        height: 100%;
        @include flexbox(column, center, left);
    }

}

@media(max-width: 1200px){
    #noticias h5{
        font-size: 150%;
    }
}