/* Error: Undefined mixin.
 *    ,
 * 18 | / @include mediaquery(576px){
 * 19 | |     .description h4{
 * 20 | |         margin: 0em 0.4em;
 * 21 | |         margin-top: 0.5em;
 * 22 | |     }
 * 23 | \ }
 *    '
 *   scss\pages\about-us.scss 18:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 18 \2502  \250c  @include mediaquery(576px){\a 19 \2502  \2502      .description h4{\a 20 \2502  \2502          margin: 0em 0.4em;\a 21 \2502  \2502          margin-top: 0.5em;\a 22 \2502  \2502      }\a 23 \2502  \2514  }\a    \2575 \a   scss\\pages\\about-us.scss 18:1  root stylesheet";
}
