/* Error: Undefined mixin.
 *    ,
 * 38 | / @include mediaquery(768px){
 * 39 | |     #newsletter input{
 * 40 | |         width: 100%;
 * 41 | |     }
 * 42 | |     #newsletter button{
 * 43 | |         display: block;
 * 44 | |         margin-top: 0.5em;
 * 45 | |     }
 * 46 | \ }
 *    '
 *   scss\pages\index.scss 38:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 38 \2502  \250c  @include mediaquery(768px){\a 39 \2502  \2502      #newsletter input{\a 40 \2502  \2502          width: 100%;\a 41 \2502  \2502      }\a 42 \2502  \2502      #newsletter button{\a 43 \2502  \2502          display: block;\a 44 \2502  \2502          margin-top: 0.5em;\a 45 \2502  \2502      }\a 46 \2502  \2514  }\a    \2575 \a   scss\\pages\\index.scss 38:1  root stylesheet";
}
