$color-fondo: white;
$color-menu-secundario: black;
$color-tipografia: black;
$color-tipografia-secundaria: white;

$color-primario: #0071bc;
$color-secundario: #90d7ff;
$color-terciario: #003459;

$color-borde-primario: black;
$color-borde-secundario: gray;

$gradiente-primario: linear-gradient(90deg, rgba(0,113,188,1) 30%, rgba(144,215,255,1) 100%);

$gradiente-secundario: linear-gradient(90deg, rgba(0,52,89,1) 30%, rgba(0,126,167,1) 100%);
