@font-face {
    font-family: 'work-sans';
    src: url(../fonts/work-sans/static/WorkSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'work-sans-bold';
    src: url(../fonts/work-sans/static/WorkSans-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

$font-titulo: 'work-sans-bold';
$font-parrafo: 'work-sans';

body{
    font-family: $font-parrafo;
}

h1, h2, h3, h4, h5{
    font-family: $font-titulo;
}