.btn{
    background: $color-primario;
    border-color: $color-primario;
    transition: all 0.5s;
    max-width: 200px;
}

.btn:hover{
    background: $gradiente-primario;
    transform: scale(1.05);
}

.btn:active{
    border-color: $color-terciario;
    background: $color-terciario !important;
    transform: scale(0.95) rotateZ(1.7deg);
}